{% extends 'base.html' %}
{% load static %}
{% block title %}Log Out?{% endblock title %}
{% load widget_tweaks %}
{% block content %}


  <div class="log-in-div">
    <div class="log-in-hdr">
      <div class="log-in-hdr-bold">Log</div>
      <div class="log-in-hdr-light">Out</div>
    </div>
    <div class="w-form">
      <form method="post" class="log-in-form-div" action='{% url "account_logout" %}' data-redirect="/">
        <div class="log-in-hint-div">
          <div class="log-in-hint-txt">Are you sure you want to log Out? </div>
        </div>
        {% csrf_token %}
        <input type="submit" value="Sign Out" data-wait="Please wait..." class="log-in-btn w-button">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Invalid username or password</div>
      </div>
    </div>
  </div>
{% endblock content %}