{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% load widget_tweaks %}
{% block content %}

<!-- main div -->
  <div class="log-in-div">

    <!-- title -->
    <div class="log-in-hdr">
      <div class="log-in-hdr-bold">Sign</div>
      <div class="log-in-hdr-light">Up</div>
    </div>

    <!-- form div -->
    <div class="w-form">

      <form method="post" class="log-in-form-div" action="{% url 'account_signup' %}" data-redirect="/">
        {% csrf_token %}

        <!-- username field-->
        <div class="log-in-fieldline-div">
          <div class="log-in-lbl-div">
            <div class="log-in-lbl">Username</div>
          </div>
          <div class="log-in-field-div">
            <input type="text" class="log-in-field w-input" name="username" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_username">
          </div>
        </div>

        <!-- password entry -->
        <div class="log-in-fieldline-div">
          <div class="log-in-lbl-div">
            <div class="log-in-lbl">Password</div>
          </div>
          <div class="log-in-field-div">
            <input type="password" class="log-in-field w-input" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
          </div>
        </div>

        <!-- password confirm -->
        <div class="log-in-fieldline-div">
          <div class="log-in-lbl-div">
            <div class="log-in-lbl">Password</div>
          </div>
          <div class="log-in-field-div">
            <input type="password" class="log-in-field w-input" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
          </div>
        </div>

        <!-- hint div -->
        <div class="log-in-hint-div">
          <div class="log-in-hint-txt">Already have an account? Then please </div>
          <a href="{% url 'socialaccount_connections' %}" class="log-in-hint-link">sign in</a>
          <div class="log-in-hint-txt">first.</div>
        </div>

        <!-- submit button -->
        <input type="hidden" name="next" value="{% url 'home' %}">
        <input type="submit" value="Submit" data-wait="Please wait..." class="log-in-btn w-button">
      </form>

      <!-- done and fail divs -->
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>
          <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
        </div>
      </div>

    </div>

    <!-- separator -->
    <div class="log-in-separator-div"><img src="{% static 'tasks/Vectors-Wrapper_5.svg' %}" loading="lazy" width="540" height="2" alt="" class="log-in-separator"></div>
    <div class="log-in-txt-div">
      <div class="log-in-txt">Or Sign in with</div>
    </div>

    <!-- google button -->
    <div class="log-in-social-btn-div">
      {% comment %} <a href="/accounts/google/login/?process=login&amp;next=%2Faccounts%2Fsocial%2Fconnections%2F" target="_blank" class="log-in-social-btn"> {% endcomment %}
      <a href="/accounts/google/login/" target="_blank" class="log-in-social-btn">
        <div class="log-in-imgmargin">
          <div class="log-in-logo-google">
            <div class="log-in-logo-google-fill"><img src="{% static 'tasks/Vectors-Wrapper_4.svg' %}" loading="lazy" width="16" height="16" alt="" class="log-in-logo-google-svg"></div>
          </div>
        </div>
        <div class="log-in-logo-google-txt-div">
          <div class="log-in-logo-google-txt">Google</div>
        </div>
      </a>




    </div>

    <!-- separator -->
    <div class="log-in-separator-div"><img src="{% static 'tasks/Vectors-Wrapper_5.svg' %}" loading="lazy" width="540" height="2" alt="" class="log-in-separator"></div>
  </div>
{% endblock content %}