{% extends 'base.html' %}
{% load static %}
{% block title %}Log In{% endblock title %}
{% load widget_tweaks %}
{% block content %}

<!-- main div -->
  <div class="log-in-div">

    <!-- title -->
    <div class="log-in-hdr">
      <div class="log-in-hdr-bold">Log</div>
      <div class="log-in-hdr-light">In</div>
    </div>

    <!-- form div -->
    <div class="w-form">

      <form method="post" class="log-in-form-div" action="{% url 'account_login' %}" data-redirect="/">
        {% csrf_token %}

        <!-- username field-->
        <div class="log-in-fieldline-div">
          <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'home' %}">
          <div class="log-in-lbl-div">
            <div class="log-in-lbl">Username</div>
          </div>
          <div class="log-in-field-div">
            <input type="text" class="log-in-field w-input" name="login" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login">
          </div>
        </div>

        <!-- password field -->
        <div class="log-in-fieldline-div">
          <div class="log-in-lbl-div">
            <div class="log-in-lbl">Password</div>
          </div>
          <div class="log-in-field-div">
            <input type="password" class="log-in-field w-input" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
          </div>
        </div>

        <!-- hint div -->
        <div class="log-in-hint-div">
          <div class="log-in-hint-txt">No account yet? Then please </div>
          <a href="{{ signup_url }}" class="log-in-hint-link">sign up</a>
          <div class="log-in-hint-txt">first.</div>
        </div>

        <!-- submit button -->
        <input type="hidden" name="next" value="{% url 'home' %}">
        <input type="submit" value="Submit" data-wait="Please wait..." class="log-in-btn w-button">
      </form>

      <!-- done and fail divs -->
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Invalid username or password</div>
      </div>

    </div>

    <!-- separator -->
    <div class="log-in-separator-div"><img src="{% static 'tasks/Vectors-Wrapper_5.svg' %}" loading="lazy" width="540" height="2" alt="" class="log-in-separator"></div>
    <div class="log-in-txt-div">
      <div class="log-in-txt">Or Sign in with</div>
    </div>

    <!-- google button -->
    <div class="log-in-social-btn-div">
      <a href="/accounts/google/login/?process=login&amp;next=%2Faccounts%2Fsocial%2Fconnections%2F" target="_blank" class="log-in-social-btn">
        <div class="log-in-imgmargin">
          <div class="log-in-logo-google">
            <div class="log-in-logo-google-fill"><img src="{% static 'tasks/Vectors-Wrapper_4.svg' %}" loading="lazy" width="16" height="16" alt="" class="log-in-logo-google-svg"></div>
          </div>
        </div>
        <div class="log-in-logo-google-txt-div">
          <div class="log-in-logo-google-txt">Google</div>
        </div>
      </a>
    </div>

    <!-- separator -->
    <div class="log-in-separator-div"><img src="{% static 'tasks/Vectors-Wrapper_5.svg' %}" loading="lazy" width="540" height="2" alt="" class="log-in-separator"></div>
  </div>
{% endblock content %}