{% extends 'base.html' %}
{% load static %}
{% block title %}Log In with Google{% endblock title %}


    {% block content %}
    <div class="log-in-div">
        <div class="log-in-hdr">
            <div class="log-in-hdr-bold">Sign</div>
            <div class="log-in-hdr-light">In</div>
            <br>
            <div class="log-in-hdr-light">With</div>
            <div class="log-in-hdr-bold">Google</div>
        </div>


        <div class="log-in-hint-div">
            <div class="log-in-hint-txt">You are about to sign in using a third-party account from Google </div>
        </div>

        <form method="post" action="">
            {% csrf_token %}
            <button class="log-in-btn w-button" type="submit">Continue</button>
        </form>
    </div>
    {% block webflow_js %}
    {% comment %} disable the webflow JS which conflicts with this page {% endcomment %}
    {% endblock webflow_js %}

    {% endblock content %}

</html>