{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% block table %}
{% endblock table %}

<script>
    // hello boy!
    // hello boy!
    var project_priorities = {{ project_priorities|safe }};
    var project_statuses = {{ project_statuses|safe }};
    var task_priorities = {{ task_priorities|safe }};
    var task_statuses = {{ task_statuses|safe }};
    var contextNames = {{ context_names|safe }};
    var assigneeNames = {{ assignee_names|safe }};
    var parentNames = {{ project_names|safe }};
</script>
<script src="{% static 'tasks/apiv2_script.js' %}" id="url"></script>

{% endblock content%}