{% extends 'tasks/apiV2_prioritizer.html' %}
{% block pagetitle %}Your Tasks{% endblock pagetitle %}
{% block switchbutton %}
  <a href="{% url 'projects' %}" class="submit-btn w-button">Show projects</a>
{% endblock switchbutton %}
{% block table %}





<div class="tabulator-container">
  <div id="task-table"></div>
  <button class="submit-btn w-button" id="add-task-button">+</button>
</div>



<dialog class="dial-box-container" id="add-task-dialog">
  <h2 class='dial-box-hdr'>Add a new task or follow-up task</h2>
  <form id="add-task-form">
    <div class="dial-box-form-field">
      <label class='dial-box-lbl' for="name">Name:</label>
      <input class="dial-box-form-input" type="text" id="name" name="name">
    </div>
    <div class="dial-box-form-field">
      <label class='dial-box-lbl' for="priority">Priority:</label>
      <input class="dial-box-form-input" type="text" id="priority" name="priority">
    </div>
    <div class="dial-box-form-field">
      <input class="submit-btn w-button" type="submit" value="Create Task">
      <button class="submit-btn w-button" id="close-task-dialog" type="button">Close</button>
    </div>
  </form>
</dialog>

<script>
  var tabletype = 'tasks';
</script>

{% endblock table %}