{% extends 'tasks/apiV2_prioritizer.html' %}

{% block table %}


<h2>Your Tasks</h2>




<div id="task-table"></div>
<button id="add-task-button">+</button>
<dialog id="add-task-dialog">
  <h2>Add a new task or follow-up task</h2>
  <form id="add-task-form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="priority">Priority:</label><br>
    <input type="text" id="priority" name="priority"><br>
    <input type="submit" value="Create Task">
    <button id="close-task-dialog" type="button">Close</button>
  </form>
</dialog>

<script>
  var tabletype = 'tasks';
</script>

{% endblock table %}