{% extends 'base.html' %}
{% load static %}
{% block data-wf %}data-wf-page="653fc2444491a35371971509" data-wf-site="652482ea837db348b1939c93"{% endblock data-wf %}
{% block title %}Welcome{% endblock title %}
{% block content %}

  <div class="main-section">
    <div class="form-block-header w-form">
      <div class="nto-header-div medium">
        <div class="nto-hrd-div centered">
          <div class="nto-hdr">
            <div class="done-logo-small">DONE</div>
            <div class="hdr-2">The App</div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="0ad156d8-e1d7-1bb0-dce7-4d0941c0a634" class="hint-block">
      <div class="project-name">Choose your section from the side menu</div>
    </div>
  </div>
  {% endblock content %}


  




