{% extends 'base.html' %}
{% block data-wf %}data-wf-page="652b53b37568770d043d1279" data-wf-site="652482ea837db348b1939c93"{% endblock data-wf %}
{% block title %}new task organizer wizard{% endblock title %}
{% load widget_tweaks %}
{% block content %}


  <div class="main-section">
    <!-- NEW TASK ORGANIZER HEADER -->
    <div class="w-form">
      <form id="wf-form-selector" name="wf-form-selector" data-name="selector" method="post" data-wf-page-id="652b53b37568770d043d1279" data-wf-element-id="4ba501e2-0b49-e4b5-74ba-597dd9c33121">
        <div class="nto-header-div">
          <div class="nto-hrd-div">
            <div class="nto-hdr">
              <div class="done-logo-small">DONE</div>
              <div class="hdr-2">New Task Organizer</div>
            </div>
            <div class="nto-prj-slctr-div">
              <div class="menu-hdr-blue">{{ task_qty }} remaining entries. Current:</div>
              <div class="project-name">{{ new_task_name }}</div>
            </div>
          </div>
          <div class="nto-inpt-slct-div">
            <div class="menu-hdr-div">
              <label for="" class="menu-hdr-grey">What is it?</label>
            </div>
            <label data-w-id="c5e5cd09-74e5-ca46-3c8a-03692abc5541" class="radio-btn-field w-radio">
              <input type="radio" id="task" name="input-type" value="task" data-name="input type" class="w-form-formradioinput radio-btn w-radio-input">
              <span class="menu-txt w-form-label" for="task">A Task</span>
            </label>
            <label data-w-id="c5e5cd09-74e5-ca46-3c8a-03692abc5545" class="radio-btn-field w-radio">
              <input type="radio" id="project-2" name="input-type" value="project" data-name="input type" class="w-form-formradioinput radio-btn w-radio-input">
              <span class="menu-txt w-form-label" for="project-2">A Project</span>
            </label>
            <label data-w-id="c5e5cd09-74e5-ca46-3c8a-03692abc5549" class="radio-btn-field w-radio">
              <input type="radio" id="not-actionable" name="input-type" value="not actionable" data-name="input type" class="w-form-formradioinput radio-btn w-radio-input">
              <span class="radio-button-label w-form-label" for="not-actionable">Non Actionable</span>
            </label>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>

    <!-- NEW ENTRY IS TASK FORM -->
    <div data-w-id="78698cbd-15e1-ff16-772a-d14af70e56e6" style="display:none" class="w-form">
      <form id="wf-form-new-entry-form" name="wf-form-new-entry-form" data-name="new-entry-form" data-redirect="/new-task-organizer/" action="/new-task-organizer/submit-task/" method="post" class="form" data-wf-page-id="652b53b37568770d043d1279" data-wf-element-id="78698cbd-15e1-ff16-772a-d14af70e56e7">
        {% csrf_token %}
        <div id="not" class="nto-dtl-info-div">
          <div class="nto-dtl-info-lft-div">
            <div class="menu-hdr-grey">Details:</div>
          </div>
          <aside class="nto-dtl-info-rgh-div">
            <div class="nto-project-fltr">
              <div class="menu-txt-grey">Name:</div>
              {{ form.name|add_class:"task-name-frame w-input"}}
              <!-- <input type="text" class="task-name-frame w-input" maxlength="256" name="name-task" data-name="name-task" placeholder="original name of the input" id="name-task" required=""> -->
            </div>
            <div class="div-nto-details">
              <div class="priority-box">
                <label for="priority-task" class="menu-txt-grey">Priority:</label>
                {{ form.priority|add_class:"task-name-frame priority w-input"}}
                <!-- <input type="text" class="task-name-frame centered w-input" maxlength="256" name="priority-task" data-name="priority-task" placeholder="A" id="priority-task"></div> -->
              <div class="effort-box">
                <label for="effort-task" class="menu-txt-grey">Effort (min):</label>
                {{ form.effort|add_class:"task-name-frame effort w-input"}}
                {% comment %} <input type="text" class="task-name-frame centered w-input" maxlength="256" name="effort-task" data-name="effort-task" placeholder="25 min" id="effort-task"></div> {% endcomment %}
              <div class="deadline-box">
                <label for="id_deadline" class="menu-txt-grey">Deadline:</label>
                {{ form.deadline|add_class:"task-name-frame deadline w-input"}}
                {% comment %} <input type="text" class="task-name-frame deadline w-input" maxlength="256" name="deadline-task" data-name="deadline-task" placeholder="date" id="deadline-task"></div> {% endcomment %}
              <div class="context-box">
                <label for="context-task" class="menu-txt-grey">Context:</label>
                {{ form.context|add_class:"task-name-frame context w-input"}}
                <!-- <input type="text" class="task-name-frame centered w-input" maxlength="256" name="context-task" data-name="context-task" placeholder="work" id="context-task"></div> -->
            </div>
          </aside>
        </div>

        <div class="not-project-fltr-div">
          <div class="nto-project-fltr">
              <div class="menu-txt-grey">Filter</div>
              {% csrf_token %}
              <input class="form-control task-name-frame w-input" type="search"
                      name="search" placeholder="filter your project"
                      hx-get="/search/results/"
                      hx-trigger="keyup changed, search"
                      hx-target="#search-results"
                      hx-indicator=".htmx-indicator">
          </div>
        </div>
        {% comment %} <div class="nto-proj-lst-div"> {% endcomment %}
          <div id="search-results" class="nto-proj-lst-div">
      
                  {% include "tasks/project_filter_results.html" %}
      
          </div>
        {% comment %} </div> {% endcomment %}

        {% comment %} <div class="not-project-fltr-div">
          <div class="nto-project-fltr">
            <div class="menu-txt-grey">Filter</div>

            <input type="text" class="task-name-frame w-input" maxlength="256" name="filter-filter-3" data-name="Filter Filter 3" placeholder="filter your project" id="filter-filter-3">
          </div>
        </div>
        <div class="nto-proj-lst-div">



          {% for radio in form.parent %}
          <div class="nto-prj-btn-field w-radio">
              {{ radio.tag }}
              <label class="project-list-txt w-form-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}

        </div> {% endcomment %}
        <div class="w-layout-hflex form-btn-bar">
          {% comment %} <input type="submit" name = "process" value="Process &amp; Next" data-wait="Please wait..." class="submit-btn w-button"> {% endcomment %}
          <button type="submit" name="action" value="pocess" class="submit-btn w-button">Process & Next</button>
          <input type="submit" value="Close" data-wait="Please wait..." class="submit-btn w-button">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>

    <!-- NEW ENTRY IS PROJECT FROM -->
    <div data-w-id="e371bd6b-262e-5b69-3cad-5070134018e4" style="display:none" class="w-form">
      <form id="wf-form-new-entry-form" name="wf-form-new-entry-form" data-name="new-entry-form" data-redirect="/new-task-organizer/" action="/new-task-organizer/submit-project/" method="post" class="form" data-wf-page-id="652b53b37568770d043d1279" data-wf-element-id="e371bd6b-262e-5b69-3cad-5070134018e5">
        {% csrf_token %}
        <div class="nto-dtl-info-div">
          <div class="nto-dtl-info-lft-div">
            <div class="menu-hdr-grey">Details:</div>
          </div>
          <aside class="nto-dtl-info-rgh-div">
            <div class="nto-project-fltr">
              <div class="menu-txt-grey">Name:</div>
              {{ form_project.project_name|add_class:"task-name-frame w-input"}}
              {% comment %} <input type="text" class="task-name-frame w-input" maxlength="256" name="name-project" data-name="name-project" placeholder="original name of the input" id="name-project" required=""> {% endcomment %}
            </div>
            <div class="div-nto-details">
              <div class="priority-box">
                <label for="priority-project" class="menu-txt-grey">Priority:</label>
                {{ form_project.project_priority|add_class:"task-name-frame priority w-input"}}
                {% comment %} <input type="text" class="task-name-frame centered w-input" maxlength="256" name="priority-project" data-name="priority-project" placeholder="A" id="priority-project"></div> {% endcomment %}
              <div class="deadline-box">
                <label for="deadline-project" class="menu-txt-grey">Deadline:</label>
                {{ form_project.project_deadline|add_class:"task-name-frame deadline w-input"}}
                {% comment %} <input type="text" class="task-name-frame centered w-input" maxlength="256" name="deadline-project" data-name="deadline-project" placeholder="date" id="deadline-project"> {% endcomment %}
              </div>
            </div>
          </aside>
        </div>
        <div class="not-proj-nxt-act-div">
          <div class="nto-project-fltr">
            <div class="menu-txt-grey">Next Action</div>
            {{ form_task.name|add_class:"task-name-frame w-input"}}
            {% comment %} <input type="text" class="task-name-frame w-input" maxlength="256" name="next-action-project" data-name="next-action-project" placeholder="enter the first action for this project" id="next-action-project"> {% endcomment %}
          </div>
        </div>
        <div class="w-layout-hflex form-btn-bar"><input type="submit" value="Process &amp; Next" data-wait="Please wait..." class="submit-btn w-button"><input type="submit" value="Close" data-wait="Please wait..." class="submit-btn w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>

    <!-- NEW ENTRY IS NOT ACTIONABLE FORM -->
    <div data-w-id="6239a38c-1ca4-4b06-5bab-b17bb0bd6a55" style="display:none" class="w-form">
      <form id="wf-form-new-entry-form" name="wf-form-new-entry-form" data-name="new-entry-form" data-redirect="/new-task-organizer/" action="/new-task-organizer/delete-entry/" method="post" class="form" data-wf-page-id="652b53b37568770d043d1279" data-wf-element-id="6239a38c-1ca4-4b06-5bab-b17bb0bd6a56">
        {% csrf_token %}
        <div class="nto-dtl-info-div">
          <div class="nto-dtl-info-lft-div">
            <div class="menu-hdr-grey">Details:</div>
          </div>
          <aside class="nto-dtl-info-rgh-div">
            <div class="nto-project-fltr">
              <div class="menu-txt-grey">Name:</div>
              {{ form.name|add_class:"task-name-frame w-input"}}
              {% comment %} <input type="text" class="task-name-frame w-input" maxlength="256" name="input-name-delete" data-name="input-name-delete" placeholder="original name of the input" id="input-name-delete" required=""> {% endcomment %}
            </div>
          </aside>
        </div>
        <div class="w-layout-hflex form-btn-bar">
          {% comment %} <input type="submit" name = "delete" value="Delete &amp; next" data-wait="Please wait..." class="submit-btn w-button"> {% endcomment %}
          <button type="submit" name="action" value="delete" class="submit-btn w-button">Delete</button>
          <input type="submit" value="Close" data-wait="Please wait..." class="submit-btn w-button">
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>

    <!-- DEFAULT VIEW -->
    <div data-w-id="1ec4b793-6b39-0e83-ab13-95c4cbd15a1c" class="w-form">
      <form id="wf-form-dummy-name-form" name="wf-form-dummy-name-form" data-name="dummy-name-form" method="post" class="form" data-wf-page-id="652b53b37568770d043d1279" data-wf-element-id="1ec4b793-6b39-0e83-ab13-95c4cbd15a1d">
        <div class="nto-dtl-info-div">
          <div class="nto-dtl-info-lft-div">
            <div class="menu-hdr-grey">Details:</div>
          </div>
          <aside class="nto-dtl-info-rgh-div">
            <div class="nto-project-fltr">
              {{ form.name|add_class:"task-name-frame w-input"}}
              <!-- <div class="menu-txt-grey">Name:</div>
              <input type="text" class="task-name-frame w-input" maxlength="256" name="input-name-delete-2" data-name="Input Name Delete 2" placeholder="original name of the input" id="input-name-delete-2" required=""> -->
            </div>
          </aside>
        </div>
      </form>

      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>

  {% endblock content %}