{% extends 'base.html' %}
{% load static %}
{% block data-wf %}data-wf-page="653fc2444491a35371971509" data-wf-site="652482ea837db348b1939c93"{% endblock data-wf %}
{% block title %}Priorizer{% endblock title %}
{% load widget_tweaks %}
{% block content %}

  <div class="main-section">
    <div class="form-block-header w-form">
      <form id="wf-form-selector" name="wf-form-selector" data-name="selector" method="post" class="form-2" data-wf-page-id="653fc2444491a35371971509" data-wf-element-id="89f1164f-914e-c1bf-ad36-09a1e20dd3f5">
        <div class="nto-header-div medium">
          <div class="nto-hrd-div centered">
            <div class="nto-hdr">
              <div class="done-logo-small">DONE</div>
              <div class="hdr-2">Priorizer</div>
            </div>
          </div>


          <div class="nto-inpt-slct-div horizontal single-line">
            <label data-w-id="89f1164f-914e-c1bf-ad36-09a1e20dd40a" class="project-radio radio-btn-field w-radio">
              <input 
                type="radio" 
                id="project-radio" 
                name="input-type" 
                value="project" 
                data-name="input type" 
                class="w-form-formradioinput radio-btn w-radio-input" 
                hx-get="/table_project/" 
                hx-trigger="change" 
                hx-target="#table-container"> 
              <span class="menu-txt w-form-label" for="project-2">Projects</span>
            </label>
            <label data-w-id="89f1164f-914e-c1bf-ad36-09a1e20dd40e" class="task-radio radio-btn-field w-radio">
              <input 
                type="radio" 
                id="task-radio" 
                name="input-type" 
                value="not actionable" 
                data-name="input type" 
                class="w-form-formradioinput radio-btn w-radio-input" 
                hx-get="/table_task/" 
                hx-trigger="change" 
                hx-target="#table-container">
              <span class="radio-button-label w-form-label" for="not-actionable">Tasks</span>
            </label>
          </div>


        </div>
      </form>
    </div>

    <div id='hint-div' class="hint-block">
      <div class="project-name">choose Projects of Task table</div>
    </div>


    <div id="table-container">
      {% comment %} HTMX will display the proper table {% endcomment %}
    </div>


    <div class="frame-427318914" id="delete-btn">
      <div class="frame-427318912">
        <button type="submit" name="action" value="pocess" class="submit-btn w-button">Delete completed items</button>
      </div>
    </div>

  </div>
  {% endblock content %}

  {% block custom_js %}
  {% comment %} control table behaviour {% endcomment %}
  <script> 
    var taskServerUrl = "{% url 'save_tasks' %}";
    var projectServerUrl = "{% url 'save_projects' %}";
    var compound_priority_url = "{% url 'compound_priority' %}";
    var api_tasks_url = "{% url 'api_tasks' %}";
    var contextUrl = "{% url 'prioritizer' %}";
    var delete_completed_tasks = "{% url 'delete_completed_tasks' %}";
    var delete_completed_projects = "{% url 'delete_completed_projects' %}";
    var contextOptions = {{ context_options_list|safe }};
    var assigneeOptions = {{ assignee_options_list|safe}}
  </script>
  <script src="{% static 'tasks/table_v1.js' %}" id="url"></script>
  <script src="{% static 'tasks/colResizable-1.6.min.js' %}" id="url"></script>  
  {% endblock custom_js %}
  
  {% comment %} required to send to server {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.rawgit.com/alvaro-prieto/colResizable/master/colResizable-1.6.min.js"></script>
  




