<div id='task-table-div' class="tbl-frame">
    <table class="task-table_component table_component">
      <thead class="task-table_head">
        <tr class="task-table_row">
          <th class="tbl-hdr" data-sort="completion" style="width: 110px;">
            <div class="filter-dropdown">
              <select class="filter-select" id="task-completion-filter">
                  <option value="">All</option>
                  <option value='false'>Done</option>
                  <option value='true'>Active</option>
              </select>
            </div>
          </th>
          <th class="tbl-hdr" data-sort="compound" style="width: 110px;">Compound <br>Priority</th>
          <th class="tbl-hdr" data-sort="priority" style="width: 72px;">Priority</th>
          <th class="tbl-hdr" data-sort="name" style="width: 272px;">Name</th>
          <th class="tbl-hdr" data-sort="effort" style="width: 87px;">Effort</th>
          <th class="tbl-hdr" data-sort="context" style="width: 87px;">Context</th>
          <th class="tbl-hdr" data-sort="deadline" style="width: 87px;">Deadline</th>
          <th class="tbl-hdr" data-sort="assignee" style="width: 110px;">Assignee</th>
        </tr>
      </thead>

      {% for task in tasks %}
      <tr class="rendered-row" data-id="{{ task.id }}">
        <td class="tbl-cell centered" data-id="{{ task.id }}" data-type="complete">
          {% if task.complete %}
            <input type="checkbox" data-id="{{ task.id }}" class="input-data form-control completion-checkbox" checked>
          {% else %}
            <input type="checkbox" data-id="{{ task.id }}" class="input-data form-control completion-checkbox">
          {% endif %}
        </td>
        <td class="tbl-cell centered task-priority" id="compound-priority-{{ task.id }}" data-field="compound">{{ task.compound_priority }}</td>
        <td class="priority tbl-cell centered" data-id="{{ task.id }}" data-field="priority">{{ task.priority }}</td>
        <td class="editable tbl-cell" contenteditable="True" data-id="{{ task.id }}" data-field="name">{{ task.name }}</td>
        <td class="editable-effort tbl-cell centered" contenteditable="True" data-id="{{ task.id }}" data-field="effort">{{ task.effort }}</td>
        <td class="context tbl-cell centered" data-id="{{ task.id }}" data-field="context">{{ task.context.name }}</td>
        <td class="editable tbl-cell centered" data-id="{{ task.id }}" data-field="deadline">
          <span class="date-display">{{ task.deadline|date:"j M" }}</span>
          <input type="date" class="date-input" style="display: none;" value="{{ task.deadline|date:'Y-m-d' }}">
        </td>
        <td class="assignee tbl-cell centered" contenteditable="True" data-id="{{ task.id }}" data-field="assignee">{{ task.assignee.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% block custom_js %}
  <script>
    var csrftoken = '{{ csrf_token }}';
    var updateUrl = "{% url 'update_tasks' %}";
    var contextOptions = {{ context_options_list|safe }};
    var assigneeOptions = {{ assignee_options_list|safe}}
  </script>
{% endblock custom_js %}