<div id='project-table-div' class="tbl-frame">
    <table class="project-table_component table_component">
      <thead class="task-table_head">
        <tr class="task-table_row">
          <th class="tbl-hdr" data-sort="completion" style="width: 100px;">
            <div class="filter-dropdown">
              <select class="filter-select" id="project-completion-filter">
                <option value="">All</option>
                <option value='false'>Done</option>
                <option value='true'>Active</option>
              </select>
            </div>
          </th>
          <th class="tbl-hdr " data-sort="priority" style="width: 100px;">Priority</th>
          <th class="tbl-hdr" data-sort="name" style="width: 500px;">Name</th>
          <th class="tbl-hdr" data-sort="deadline" style="width: 100px;">Deadline</th>
        </tr>
      </thead>
      <tbody class="task-table_body">

      {% for project in projects %}
      <tr class="rendered-row" data-id="{{ task.id }}">
        <td class="tbl-cell centered" data-id="{{ project.id }}" data-type="complete">
          {% if project.project_complete %}
            <input type="checkbox" data-id="{{ project.id }}" class="input-data form-control completion-checkbox" checked>
          {% else %}
            <input type="checkbox" data-id="{{ project.id }}" class="input-data form-control completion-checkbox">
          {% endif %}
        </td>
        <td class="priority tbl-cell centered" data-id="{{ project.id }}" data-field="project_priority">{{ project.project_priority }}</td>
        <td class="editable tbl-cell" contenteditable="True" data-id="{{ project.id }}" data-field="project_name">{{ project.project_name }}</td>
        <td class="editable tbl-cell centered" data-id="{{ project.id }}" data-field="project_deadline">
          <span class="date-display">{{ project.project_deadline|date:"j M" }} </span>
          <input type="date" class="date-input" style="display: none;" value="{{ project.project_deadline|date:'Y-m-d' }}">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% block custom_js %}
  <script>
    var csrftoken = '{{ csrf_token }}';
    var updateUrl = "{% url 'update_projects' %}";
    var deleteUrl = "{% url 'delete_completed_projects' %}";
  </script>
{% endblock custom_js %}