<script>
    $(document).ready(function(){
        $(document).on("dblclick", ".editable", function(){
            var data_type = $(this).data("type");
            var input_type = "text";
    
            if (data_type === "complete") {
                // If the data-type is "complete," create a checkbox input
                input_type = "checkbox";
            } else if (data_type === "created_at") {
                input_type = "datetime-local";
            }
    
            var value = $(this).text();
            var input = createInput(input_type, data_type, value);
            $(this).html(input);
            $(this).removeClass("editable");
        });
    
        $(document).on("blur", ".input-data", function(){
            var td = $(this).parent("td");
            var type = td.data("type");
            var value = getInputValue(this, type);
    
            // Check if the input is a checkbox
            if (type === "complete") {
                value = this.checked ? 1 : 0; // Convert checkbox value to 1 or 0
            }
    
            sendToServer(td.data("id"), value, type);
        });
    
        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if(key == 13){
                var td = $(this).parent("td");
                var type = td.data("type");
                var value = getInputValue(this, type);
    
                // Check if the input is a checkbox
                if (type === "complete") {
                    value = this.checked ? 1 : 0; // Convert checkbox value to 1 or 0
                }
    
                sendToServer(td.data("id"), value, type);
            }
        });
    
        function createInput(inputType, dataType, value) {
            if (inputType === "checkbox") {
                return `<input type="${inputType}" class="input-data" ${value == 1 ? "checked" : ""}>`;
            } else {
                return `<input type="${inputType}" class="input-data" value="${value}" class="form-control">`;
            }
        }
    
        function getInputValue(inputElement, type) {
            if (type === "checkbox") {
                return inputElement.checked ? 1 : 0; // Convert checkbox value to 1 or 0
            }
            return inputElement.value;
        }
    
        function sendToServer(id, value, type) {
            console.log(id);
            console.log(value);
            console.log(type);
            $.ajax({
                url: "http://127.0.0.1:8000/save_tasks/",
                type: "POST",
                data: { id: id, type: type, value: value },
            })
            .done(function(response){
                console.log(response);
            })
            .fail(function(){
                console.log("Error Occurred");
            });
        }
    });
    </script>
        